.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
  color: #fff;
  background-color: #626c83;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  align-self: center;
}

.button:hover {
  background-color: #373c47;
}
