.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
