.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px #282c34, inset 0px 0px 30px #282c34;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .active {
  color: rgb(250, 101, 255);
}

.logout {
  background-color: transparent;
}
.logout img {
  height: 20px;
}
