.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
}
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .active {
  color: rgb(250, 101, 255);
}

.logout {
  background-color: transparent;
}
.logout img {
  height: 20px;
}
