.episode__card {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease 0s;
  padding: 15px 15px;
  border-radius: 5px;
}

.episode__card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
